    
**/Library/
**/Temp/
**/obj/
**/Logs/
**/Packages/

**/.vscode/
**/.vs

**/Assets/Plugins/*
**/Assets/Plugins.meta

*.user
*.idea
*.csproj
*.csproj.user
*.sln
*.suo
*.userprefs
*.app
*.VC.*
.DS_Store
*.swp
*.DotSettings
*.gen.csproj.meta

obj.meta
.vs/
build/*
